@import url(index.css);
@import url(countries.css);

.heading {
    color: var(--secondary-color);
}

.sub-heading {
    color: var(--secondary-color);
}

.answer-option.correct-answer {
    background-color: #22B14C;
}

.answer-option.your-answer {
    background-color: #FF6961;
}


.answer-options {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.answer-option {
    background-color: var(--primary-shade-color);
    width: 100%;
    padding: 10px;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-size: 1.25rem;
    color: var(--secondary-color);
}

.result-container {
    width: 31.25rem;
    margin: auto;
    margin-top: 2rem;
}



@media only screen and (max-width: 1024px) {
    .result-container {
        width: 80vw;
    }
}